@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz@0,6..12;1,6..12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,600;1,6..12,600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:"nunito sans";
}
h1, h2, h3{
    font-weight: 600; 
}
body a{
    text-decoration: none;
}
hr{
    margin: 10px auto;
}
.accordion, .main-article, .cards{ 
    max-width: 1200px;
}
.navlink {
    text-transform: uppercase;
    color: white;
    margin: 0 15px;
    text-decoration: underline transparent;
    transition: text-decoration 300ms ease;
}
.navlink:hover{
    text-decoration: underline white;
}
.active{
    font-weight: 600;
    text-decoration:underline;
}
.img_header{
    background-image: url("../public/img/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.content_header{
    background-color: rgba(255,255,255,0.2);
    height: 100%;
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.avatar{
    width: 100%;
    margin-bottom: 16px;
}
i{
    padding-right: 5px;
}
main{
    padding: 50px 10px;
    text-align: center;
}
img{
    display: block;
    width: 100%;
}
form{
    text-align: center;
}
.main-article{
    padding: 15px 30px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 10px #ededed;
    text-align: start;
}
.main-article h2{
    border-bottom: 3px solid #0d6efd;
    margin-bottom: 50px;
    line-height: 2;

}
.main-article img{
    margin:auto;
    margin-bottom: 15px;
}
.progress{
    margin-bottom: 20px;
}
.link-light:hover{
    font-weight: 600;
}
.footer{
    display: flex;
    flex-direction: column;
}
.container{
    margin-bottom: 20px;
}
.social{
    padding-right: 10px;
    display: inline-block;
    opacity: 25%;
}
.social:hover{
    opacity: 100%;
}
.cards, .accordion{
    margin: 0 auto;
}
.card{
    background-color: initial;
    box-shadow: initial;
    transition: background-color, box-shadow 300ms ease;
}
.card:hover{
    background-color: #efefef;
    box-shadow: 0px 0px 5px 2px #00000030;
}
iframe{
    width: 100%;
}
#message{
    height: 400px;
}
.accordion{
    text-align: initial;
}
.accordion a {
    text-decoration: underline;
}

@media (min-width: 768px){
    .card{
        flex: 1;
        margin: 0 12.5px;
        padding: 0;
    }
    .modal-body{
        align-items: flex-start;
    }
    .modal-info{
        width: 40%;
    }
    .avatar{
        width: 40%;
    }
}
@media(min-width:992px){
    .footer{
        flex-direction: row;
    }
    
}